{% include 'navbar.html' %}
{% load static %}

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="about-section">
  <h1>About Us</h1>
  <p>This is Simple Enotes Management System Develop by Nirjana Barua,Naima Fardous,Muksana Akter And Saimoon Saki. using Python Django, HTML, CSS, Bootstrp and sqlite.</p>
  
</div>
<br><br>
<h2 style="text-align:center">Our Team</h2>
<div class="row offset-3">
  <div class="column">
    <div class="card">
      <img class="w-100" src="https://img.freepik.com/premium-vector/woman-s-face-with-yellow-circle-her_816425-2970.jpg" alt="" style="border-radius: 50%; ">
      <div class="container">
        <h2 >Nirjana Barua</h2>
        <p class="title">Student of International Islamic University</p>
        <p></p>
        <p>ID: C201208</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img  src="https://img.freepik.com/premium-vector/people-profile-icon_24877-40756.jpg?size=626&ext=jpg&ga=GA1.1.1143908185.1684390541&semt=ais" alt="" style="border-radius: 50%; ">
      <div class="container">
        <h2 style=" margin-top: 12px; ">Naima Fardous</h2>
        <p class="title">Student of International Islamic University</p>
        <p></p>
        <p>ID: C201217</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
</div>
<div class="row offset-3">
  
  <div class="column">
    <div class="card">
      <img  src="https://img.freepik.com/premium-vector/woman-avatar-profile-round-icon_24640-14042.jpg?size=626&ext=jpg&ga=GA1.1.1143908185.1684390541&semt=ais" alt="" style="border-radius: 50%; margin-top: 30px; ">
      <div class="container">
        <h2 style=" margin-top: 30px; " >Muksana Akter</h2>
        <p class="title">Student of International Islamic University</p>
        <p></p>
        <p>ID: C201240</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="card">
      <img  src="https://img.freepik.com/premium-vector/woman-avatar-profile-round-icon_24640-14047.jpg?size=626&ext=jpg&ga=GA1.1.1143908185.1684390541&semt=ais" alt="" style="border-radius: 50%; ">
      <div class="container">
        <h2 style=" margin-top: 60px; "  >Saimoon Saki</h2>
        <p class="title">Student of International Islamic University</p>
        <p></p>
        <p>ID: C201241</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>



